body {
  background-color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

h1 {
  color: #003e63;
}

.countdown {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.countdown-item {
  margin: 0 50px;
}

.countdown-time {
  font-size: 120px;
  color: #ff5454;
}

.countdown-label {
  font-size: 36px;
  color: #003e63;
}
